<div class="record">
    <h1>Запись на прием к врачу</h1>
</div>

<div class="record">
    <h1>Выберите специалиста:</h1>
        <div class="card">
            <div>
                <a href="record/врач-терапевт участковый">врач-терапевт участковый</a>
            </div>
            <div>
                <a href="record/врач-педиатр участковый">врач-педиатр участковый</a>
            </div>
            <div>
                <a href="record/врач общей практики (семейный врач)">врач общей практики (семейный врач)</a>
            </div>
             <div>
                <a href="record/врач-оториноларинголог">врач-оториноларинголог</a>
            </div>
             <div>
                <a href="record/врач-офтальмолог">врач-офтальмолог</a>
            </div>
             <div>
                <a href="record/врач-акушер-гинеколог">врач-акушер-гинеколог</a>
            </div>
             <div>
                <a href="record/врач-хирург">врач-хирург</a>
            </div>
             <div>
                <a href="record/врач - детский хирург">врач - детский хирург</a>
            </div>
             <div>
                <a href="record/врач-психиатр-нарколог">врач-психиатр-нарколог</a>
            </div>
             <div>
                <a href="record/врач-психиатр детский">врач-психиатр детский</a>
            </div>
             <div>
                <a href="record/врач-стоматолог">врач-стоматолог</a>
            </div>
             <div>
                <a href="record/врач-стоматолог-терапевт">врач-стоматолог-терапевт</a>
            </div>
            <div>
                <a href="record/врач-стоматолог детский">врач-стоматолог детский</a>
            </div>
            <div>
                <a href="record/врач-фтизиатр">врач-фтизиатр</a>
            </div>

</div>